{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Portfolio</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}" />
  </head>
  <body>
	<nav>
        <a href="/home/">Home</a> |
        <a href="/contact/">Contact</a> |
        <a href="/portfolio/">Portfolio</a> |
        <a href="/resume/">Resume</a>
  </nav>
  <div class="content">
    <center><h3>Experience</h3></center>
    {% if experience %}
    {% for exp in experience %}
      <h4>{{exp.title}}- {{exp.location}}<span style="float:right">{{exp.start_date}}-{{exp.end_date}}</span></h5>
      <p>{{exp.description}}</p>
    {% endfor %}
    {% else %}
      <h5>Experience model is not defined in resume app</h5>
    {% endif %}
    <br>
    <br>
    <center><h3>Education</h3></center>
    {% if education %}
    {% for edu in education %}
      <h4>{{edu.institution_name}}-{{edu.location}}</h5>
      <p>{{edu.degree}}-{{edu.major}}, GPA: {{edu.gpa}}</p>
    {% endfor %}
    {% else %}
      <h5>Education model is not defined in Resume app</h5>
    {% endif %}
    <br>
    <br>
  </div>
  </body>
</html>
