{% extends 'base.html' %}

{% block content %}
<div id="header">
   <h3 style="color:Red;"> Projects </h3>
   <div class="left">
      <div class="right">
         <ul>
            <h4>ABU-CRCE Robocon 2017 </h4>
            <hr>
            <li>Build an autonomous robot.</li>
            <li>Programmed the Hardware part of hybrid robot.</li>
            <li>Co-ordinate with the junior teammates. </li>
            <li>Stood 18th Nationally. </li>

            <h4>Brain-Controlled Device </h4>
            <hr>
            <li> Build a automated device working on the brain wave signals.</li>
            <li> Analysed all the brain signals and extracted needed among those using certain software.</li>

         </ul>
      </div>
   </div>
</div>
{% endblock %}
