{% extends 'base.html' %}

{% block content %}

<div id="header">
	<p id="name">
		<em>Viraj V Salvi</em>
	</p>
	<hr>
	<a href="salvi.viraj007@gmail.com">
		<p id="email">salvi.viraj007@gmail.com</p>
	</a>
	<p> 21 Ash ST, Apt 3, Manchester,NH, Zip-03104 </p>
	<p>6038549979</p>
</div>
<div class="left"></div>
<div class="right">
	
	<h4>Education</h4>
	<hr>
	<p>University of Mumbai</p>
	<p>Fr.Conceciao Rodrigues College of Engineering</p>
	<ul>
		<li>GPA: 6.0</li>
	</ul>
	
	<h4>Position Of Responsibilities</h4>
	<hr>
	<p>CRCE-ROBOCON TEAM</p>
	<ul>
		<li>Build the semi-autonomous robot for national level competition</li>
		<li>Programmed the hardware part Hybrid robot </li>
		<li>Co-ordinated with the junior of the team</li>
		<li>Stood 18th Nationally. </li>
	</ul>
	<p>Membership Development Officer,IEEE-CRCE</p>
	<ul>
		<li>Responsible for the membership of the students</li>
		<li>Spread the importance of the most technical advance IEEE.</li>
		<li>Organised various technical workshop for the freshers.</li>
	</ul>
	
	<h4>Skills</h4>
	<hr>
	<p>Languages: JAVA, Arduino, C, C++,Python</p>
	<p>Database:Transact-SQL, MySQL, PostgreSQL</p>
	
	<h4>Extra-Circular Activities</h4>
	<hr>
	<ul>
		<li>SQL certification from Data Camp.</li>
		<li>Participated in the Technical competition held by L&T InfoTech.</li>
		<li>3 year Scholarship by District soldier board ( Maharashtra) ( Indian Defence)</li>
		<li>Volunteered and Organised the College technical event(Crescendo)</li>
		<li>College Football and basketball Player and Won various Athletics events, sports.</li>
	</ul>
</div>


{% endblock %}
